{% extends 'core/base.html.twig' %}

{# Includes a style sheet #}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/contact.css') }}">
{% endblock %}
{# Includes a style sheet #}

{% block body %}
	<div
		class="row">
		{# Left section (Map) #}
		<div class="col-4 d-flex align-items-center">
			<iframe class="w-100 h-75 m-1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.605157084539!2d-74.00255968416035!3d45.77910272039621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccf2ca45e889b7f%3A0x23b59b4c40094d27!2zQ8OpZ2VwIGRlIFNhaW50LUrDqXLDtG1l!5e0!3m2!1sfr!2sca!4v1672853973967!5m2!1sfr!2sca" aria-hidden="false" tabindex="0" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
		{# Left section (Map) #}
		{# Right section #}
		<div
			class="col-8 bg-warning">
			{# Information section #}
			<div class="bg-secondary text-white row py-2 d-flex justify-content-around text-center">
				<div class="col-3 contactInfo">
					<i class="fas fa-map-location-dot fs-1 mb-2"></i>
					<h4>Adresse civique :</h4>
					<a href="https://goo.gl/maps/CfxcxWHoEjNuYXZ39" class="text-black text-decoration-none" target="_blank">
					<p>455 rue Fournier, Saint-Jérôme (Québec) J7Y 4V2</p>
					</a>
				</div>
				<div class="col-3 contactInfo">
					<i class="fas fa-phone-volume fs-1 mb-2"></i>
					<h4>Numéro de téléphone :</h4>
					<p>
						<a href="tel:+14508726325" class="text-black text-decoration-none" target="_blank">+1 (450) 872-MEAL</a>
						<br>
						<a href="tel:8192304560" class="text-black text-decoration-none">(819) 230-4560</a>
					</p>
				</div>
				<div class="col-3 contactInfo">
					<i class="fas fa-envelope-open-text fs-1 mb-2"></i>
					<h4>Adresse courriel :</h4>
					<a class="btn btn-floating border border-0" role="button" href="mailto:1875009@cstj.qc.ca" target="_blank">
						1875009@cstj.qc.ca
					</a>
				</div>
				<p class="text-white mt-5">Pour toutes les images des produits qui sont disponibles dans le catalogue, elles proviennent de l'une de ces quatre sources :</p>
				<div class="row d-flex justify-content-center align-items-center">
					<a href="https://revolution-nutrition.com/" class="col-3" target="_blank">
						<img src="{{ asset('images/companiesLogos/revolutionNutritionLogo.png') }}" title="Revolution Nutrition" style="width: 200px; heigth: 200px">
					</a>
					<a href="https://biosteel.ca/" class="col-3" target="_blank">
						<img src="{{ asset('images/companiesLogos/bioSteelLogo.png') }}" title="Bio Steel" style="width: 200px; heigth: 200px">
					</a>
					<a href="https://www.ghostlifestyle.com/" class="col-3" target="_blank">
						<img src="{{ asset('images/companiesLogos/ghostLogo.png') }}" title="Ghost" style="width: 200px; heigth: 200px">
					</a>
					<a href="https://ca.myprotein.com/" class="col-3" target="_blank">
						<img src="{{ asset('images/companiesLogos/myProteinLogo.png') }}" title="MyProtein™" style="width: 200px; heigth: 200px">
					</a>
				</div>
			</div>
			{# Information section #}
			{# Feedback section #}
			<div class="form-row">
				<div class="mb-3">
					<label class="form-label">Sujet</label>
					<input id="requestSubject" type="text" class="form-control" placeholder="Sujet ..." required>
				</div>
				{% if app.user %}
					<div class="mb-3">
						<label class="form-label">Courriel</label>
						<input id"requestemail" type="text" class="form-control" value="{{ app.user.email }}" required>
					</div>
				{% endif %}
				<div class="mb-3">
					<label class="form-label">Message</label>
					<textarea id="requestBody" class="form-control" rows="3" placeholder="Message ..." required></textarea>
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-dark m-3 pt-2 w-50" id="feedbackButton">
					<h4>
						Soumettre la requête<i class="fas fa-paper-plane fs-2 m-3"></i>
					</h4>
				</button>
			</div>
			{# Feedback section #}
		</div>
		{# Right section #}
	</div>
{% endblock %}

{% block javascripts %}
	<script defer src="{{ asset('scripts/contactPage.js') }}"></script>
{% endblock %}
